/*.pc
*.o
*.lo
/lib*.a.xyzzy
/lib*.so.xyzzy
/config.mak
/src/include/s6-linux-utils/config.h
/src/multicall/s6-linux-utils.c
/s6-linux-utils
/rngseed
/s6-chroot
/s6-freeramdisk
/s6-hostname
/s6-logwatch
/s6-mount
/s6-pivotchroot
/s6-ps
/s6-swapoff
/s6-swapon
/s6-umount
